span {
    margin-right: -10px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 60px;
}

form {
    text-align: center;
}

input {
    width: 500px;
    height: 30px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

input:hover {
    box-shadow: 2px 2px 6px 1px #242424;
    -webkit-box-shadow: 2px 2px 6px 1px #242424;
    -moz-box-shadow: 2px 2px 6px 1px #242424;
    -o-box-shadow: 2px 2px 6px 1px #242424;
}

img {
    width: 150px;
    height: 150px;
    margin: 15px;
}